[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
peewee = "*"
psycopg2 = "*"
pyparsing = "*"
connexion = "*"
six = "*"
peewee-db-evolve = "*"
mysql = "*"
gevent = "*"
gunicorn = "*"
gevent-websocket = "*"

[dev-packages]
black = "*"
pylint = "*"
peewee-db-evolve = "*"
pylint-peewee = "*"
pandas-ods-reader = "*"

[requires]
python_version = "3.9"
